<head>
	<title>Generating Graphs!</title>
</head>
	<body>
		<h1 align="center">Generating graphs, please wait...</h1>

		<p>Link to Left Ventricular Pressure vs Left Ventricular Volume graph: {{lvpLVV}}</p>
		<p>Flow Rate vs Time graph: {{QaT}}</p>
		<p>Link to Cardiac Cycle graph: {{cardiac}}</p>

		<p align="center">Return <a href="home">home</a></p>
	</body>
</head>